{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Details{% endblock title %}

{% block content %}
<div class="col-12">
    <div class="card m-2" style="background-color: #B9C7DC">
        <img src="{{post.image.url}}" class="card-img-top" alt="..." style="width: 50%">
        <div class="card-body">
            <h1 class="card-title mb-3">{{post.title}}</h1>
            <p class="card-text"> {{post.content}} </p>
            <p><strong> Author: {{post.author}} </strong></p>
            <p><strong> Categories: </strong></p>

            {% for categs in post.category.all %}
            <button class="btn btn-info btn-sm disabled m-1">{{ categs }}</button>
            {% endfor %}
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="p-3">Total Comments: {{ comments | length }}</h5>
      {% for comment in comments %}
        <div class="card-body border m-2">
            <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
            <p>{{comment.body}}</p>
        </div>
      {% endfor %}
</div>

<div class="card m-2">
    <div class="card-body">
      <form method='post'>
        {% csrf_token %}
        <h3>Add comment </h3>
        {{comment_form | crispy}}
        <button class="btn btn-primary mb-3"> Submit </button>
    </form>
    </div>
</div>
{% endblock content %}